<h1>Корзина</h1>


<% unless @shopping_cart.shopping_cart_items.blank? %>

  <div class="cart-items">

    <% @shopping_cart.shopping_cart_items.each do |item| %>
      <div class="item clearfix">
        <div class="title">
          <% if item.item.blank? %>
            <em>— товар удален —</em>
          <% else %>
            <%= link_to item.item.try(:title), item.item %>
          <% end %>
        </div>
        <div class="price"><%= number_to_currency item.price.to_f %></div>
        <div class="quantity">× <%= item.quantity %></div>
        <div class="item-total">= <%= number_to_currency(item.price.to_f * item.quantity) %></div>
        <div class="item-actions">
          <%= link_to "✕", cart_remove_path(item.item_id), title: "Убрать из корзины" %>
        </div>
      </div>
    <% end %>

  </div>

  <p><div class="total"><b>Сумма:</b> <%= number_to_currency @shopping_cart.subtotal.to_f %></div></p>

  <div class="cart-actions">
    <%= link_to cart_checkout_path do %><button>Перейти к оформлению заказа</button><% end %>
    <%= link_to :back do %><button>Продолжить покупки</button><% end %>
    <%= link_to cart_clear_path do %><button class="btn btn-default">Очистить корзину</button><% end %>
  </div>

<% else %>
  <p>Ваша корзина пуста.</p>
<% end %>
