<div class="welcome2ways clearfix">
  <%= link_to image_tag("index4woman.jpg"), category_path("zhenskaya-odezhda") %>
  <%= link_to image_tag("index4men.jpg"), category_path("muzhskaya-odezhda") %>
</div>

<div class="big-sale">
  <%= link_to image_tag("sale-1000.jpg"), sale_path %>
</div>

<div class="latest-arrivals clearfix">
  <div class="h">Последние поступления</div>
  <div class="item"><%= link_to image_tag("arr-bnr-1.jpg"), category_path("zhenskaya-odezhda", {new: true}) %></div>
  <div class="item"><%= link_to image_tag("arr-bnr-2.jpg"), category_path("muzhskaya-odezhda", {new: true}) %></div>
  <div class="item"><%= link_to image_tag("arr-bnr-3.jpg"), category_path("sumki", {new: true}) %></div>
  <div class="item"><%= link_to image_tag("arr-bnr-4.jpg"), category_path("aksessuary", {new: true}) %></div>
</div>

<div class="best-brands clearfix">
  <div class="h">Лучшие бренды здесь</div>
  <div class="items">
    <% @brands.each do |brand| %>
      <div class="item">
        <%= link_to image_tag(brand.image(:medium), alt: brand.title), brand %>
      </div>
    <% end %>
  </div>
</div>

<div class="sales-subscribe clearfix">
  <div class="icon"><%= image_tag "icon-percent.png" %></div>
  <div class="h">Подпишитесь на скидки</div>
  <div class="sub">Узнайте о распродажах и акциях раньше других. Без спама</div>
  <%= form_for Subscriber.new, url: subscribers_subscribe_path do |f| %>
    <%= f.email_field :email, required: true, placeholder: true %>
    <%= button_tag '', title: "Подписаться" %>
  <% end %>

</div>

<div class="seotxt">
  <p>MADE IN&nbsp;&mdash; магазин брендовой мужской и&nbsp;женской одежды, аксессуаров от&nbsp;известных европейских дизайнеров.</p>
  <p>Каждый человек стремится выглядеть ярко, стильно и&nbsp;эффектно. Благодаря широкому и&nbsp;тщательно отобранному ассортименту, индивидуальному подходу, низким ценам на&nbsp;дизайнерскую одежду, MADE IN&nbsp;поможет создать клиенту свой уникальный стиль. Каждая модель представлена в&nbsp;единственном экземпляре, включая классические наряды, яркие, модные и&nbsp;современные образы.</p>
  <p>Наши преимущества</p>
  <ul>
    <li>Широкий ассортимент одежды и&nbsp;аксессуаров европейского качества.</li>
    <li>Эксклюзивный товар.</li>
    <li>Доступные цены.</li>
    <li>Индивидуальный подход к&nbsp;каждому клиенту.</li>
  </ul>
</div>

<p class="center">
  <%= link_to "Все категории", categories_path %>
</p>


<style>
  .welcome2ways {
    overflow: hidden;
    margin-bottom: .47%;
    }
    .welcome2ways > a {
      float: left;
      width: 49.75%;
      }
    .welcome2ways > a:first-child {
      margin-right: .5%;
      }
    .welcome2ways > a > img {
      width: 100%;
      }
  .big-sale img {
    width: 100%;
    }
  .latest-arrivals {}
    .latest-arrivals > .h {
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      margin: 2.75% 0 2.7%;
      }
    .latest-arrivals > .item {
      float: left;
      width: 24.25%;
      margin-right: 1%;
      }
    .latest-arrivals > .item:last-child {
      margin-right: 0;
      }
      .latest-arrivals > .item img {
        width: 100%;
        }
  .best-brands {
    margin-bottom: 43px;
    padding: 0 5%;
    }
    .best-brands > .h {
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      margin: 2.75% 0 1.5%;
      }
    .best-brands > .items {
      display: flex;
      flex-wrap: wrap;
      }
      .best-brands .item {
        width: 20%;
        padding: 1.5% 2.5%;
        float: left;
        }
        .best-brands .item img {
          position: relative;
          width: 100%;
          transform: translateY(-50%);
          top: 50%;
          }
  .sales-subscribe {
    padding: 4% 26% 4.1%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    }
    .sales-subscribe .icon {
      float: left;
      width: 96px;
      margin-right: 3%;
      }
      .sales-subscribe .icon > img {
        width: 100%;
        border-radius: 4px;
        }
    .sales-subscribe > .h {
      font-size: 30px;
      text-transform: uppercase;
      line-height: 1;
      margin-top: -2px;
      }
    .sales-subscribe > .sub {
      font-size: 15px;
      margin-top: 4px;
      margin-bottom: 10px;
      letter-spacing: -.2px;
      }
    .sales-subscribe form {
      position: relative;
      }
      .sales-subscribe form > input {
        width: 65%;
        outline: none;
        padding: 6px 12px 5px;
        border: 1px solid #ccc;
        }
      .sales-subscribe form > button {
        position: absolute;
        width: 48px;
        height: 32px;
        border: 0;
        background: url(<%= asset_path "icon-envelope.png" %>) no-repeat;
        background-size: cover;
        outline: none;
        top: 0;
        margin-left: 10px;
        border-radius: 2px;
        }
  .seotxt {
    font-size: 13px;
    color: #b0b0b0;
    padding: 0 10%;
    margin: 69px 0;
    }
</style>