<div class="welcome2ways clearfix">
  <%= link_to image_tag("index4woman.jpg"), category_path("zhenskaya-odezhda"), class: "for-her" %>
  <%= link_to image_tag("index4men.jpg"), category_path("muzhskaya-odezhda"), class: "for-him" %>
</div>

<div class="big-sale">
  <%= link_to image_tag("sale-1000.png"), sale_path %>
</div>

<div class="latest-arrivals clearfix">
  <div class="h">Последние поступления</div>
  <div class="item"><%= link_to image_tag("arr-bnr-1.jpg"), category_path("zhenskaya-odezhda", { new: true }) %></div>
  <div class="item"><%= link_to image_tag("arr-bnr-2.jpg"), category_path("muzhskaya-odezhda", { new: true }) %></div>
  <div class="item"><%= link_to image_tag("arr-bnr-3.jpg"), category_path("sumki", { new: true }) %></div>
  <div class="item"><%= link_to image_tag("arr-bnr-4.jpg"), category_path("aksessuary", { new: true }) %></div>
</div>

<div class="seasons clearfix">
  <div class="item"><%= link_to image_tag("season-bnr-1.jpg", alt: "Летняя одежда"), season_path("летняя") %></div>
  <div class="item"><%= link_to image_tag("season-bnr-2.jpg", alt: "Зимняя одежда"), season_path("зимняя") %></div>
  <div class="item"><%= link_to image_tag("season-bnr-3.jpg", alt: "Демисезонная одежда"), season_path("демисезонная") %></div>
</div>

<div class="best-brands clearfix">
  <div class="h">Лучшие бренды здесь</div>
  <div class="items">
    <% @brands.each do |brand| %>
      <div class="item">
        <%= link_to image_tag(brand.image(:medium), alt: brand.title), brand %>
      </div>
    <% end %>
  </div>
</div>

<div class="sales-subscribe clearfix">
  <div class="icon"><%= image_tag "icon-percent.png" %></div>
  <div class="h">Подпишитесь на скидки</div>
  <div class="sub">Узнайте о распродажах и акциях раньше других. Без спама</div>
  <%= form_for Subscriber.new, url: subscribers_subscribe_path do |f| %>
    <%= f.email_field :email, required: true, placeholder: true %>
    <%= button_tag '', title: "Подписаться" %>
  <% end %>

</div>

<div class="seotxt">
  <p>MADE IN&nbsp;&mdash; магазин брендовой мужской и&nbsp;женской одежды, аксессуаров от&nbsp;известных европейских дизайнеров.</p>
  <p>Каждый человек стремится выглядеть ярко, стильно и&nbsp;эффектно. Благодаря широкому и&nbsp;тщательно отобранному ассортименту, индивидуальному подходу, низким ценам на&nbsp;дизайнерскую одежду, MADE IN&nbsp;поможет создать клиенту свой уникальный стиль. Каждая модель представлена в&nbsp;единственном экземпляре, включая классические наряды, яркие, модные и&nbsp;современные образы.</p>
  <p>Наши преимущества</p>
  <ul>
    <li>Широкий ассортимент одежды и&nbsp;аксессуаров европейского качества.</li>
    <li>Эксклюзивный товар.</li>
    <li>Доступные цены.</li>
    <li>Индивидуальный подход к&nbsp;каждому клиенту.</li>
  </ul>
</div>

<p class="center">
  <%= link_to "Все категории", categories_path %>
</p>


<style>
  .welcome2ways {
    overflow: hidden;
    margin-bottom: .47%;
    }
    .welcome2ways > a {
      float: left;
      width: 49.75%;
      max-width: 49.75%;
      position: relative;
      overflow: hidden;
      }
    .welcome2ways > a:before {
      content: "";
      position: absolute;
      left: 0;
      background: #000;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: opacity .5s linear;
      }
    .welcome2ways > a:hover > img {
      transform: scale(1.015);
      }
    .welcome2ways > a:hover:before {
      opacity: .15;
      }
    .welcome2ways > a:first-child {
      margin-right: .5%;
      }
    .welcome2ways > a > img {
      width: 100%;
      transition: transform .5s linear;
      }
    .welcome2ways > a:after {
      content: "";
      position: absolute;
      width: 180px;
      height: 88px;
      top: 50%;
      left: 50%;
      margin-left: -90px;
      margin-top: -44px;
      background-size: cover;
      background-color: rgba(0,0,0,.8);
      opacity: .9;
      z-index: 2;
      transition: all .5s linear;
      }
    .welcome2ways > a.for-her:after { background-image: url(<%= image_path("for-her.png") %>); }
    .welcome2ways > a.for-him:after { background-image: url(<%= image_path("for-him.png") %>); }
    .welcome2ways > a:hover:after {
      opacity: 1;
      background-color: transparent;
      transition: all .5s linear;
      }
  .big-sale > a {
    display: block;
    position: relative;
    overflow: hidden;
    }
  .big-sale > a:before {
    content: "";
    position: absolute;
    left: 0;
    background: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity .5s linear;
    }
  .big-sale > a:hover:before {
    opacity: .15;
    }
    .big-sale > a:hover > img {
      transform: scale(1.015);
      }
    .big-sale > a > img {
      width: 100%;
      transition: transform .5s linear;
      }
  .latest-arrivals {
    margin-bottom: 3%;
    }
    .latest-arrivals > .h {
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      margin: 2.75% 0 2.7%;
      }
    .latest-arrivals > .item {
      float: left;
      width: 24.25%;
      margin-right: 1%;
      overflow: hidden;
      position: relative;
      }
    .latest-arrivals > .item:last-child {
      margin-right: 0;
      }
      .latest-arrivals > .item > a {
        display: block;
        transition: transform .5s linear;
        }
      .latest-arrivals > .item > a:before {
        content: "";
        position: absolute;
        left: 0;
        background: #000;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: opacity .5s linear;
        }
      .latest-arrivals > .item img {
        width: 100%;
        }
      .latest-arrivals > .item > a:hover {
        transform: scale(1.015);
        }
      .latest-arrivals > .item > a:hover:before {
        opacity: .15;
        }
  .seasons {}
    .seasons > .item {
      float: left;
      width: 32.666%;
      margin-right: 1%;
      overflow: hidden;
      position: relative;
      }
    .seasons > .item:last-child {
      margin-right: 0;
      }
      .seasons > .item > a {
        display: block;
        transition: transform .5s linear;
        }
      .seasons > .item > a:before {
        content: "";
        position: absolute;
        left: 0;
        background: #000;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: opacity .5s linear;
        }
      .seasons > .item > a:hover {
        transform: scale(1.015);
        }
      .seasons > .item > a:hover:before {
        opacity: .15;
        }
  .best-brands {
    margin-bottom: 43px;
    padding: 0 5%;
    }
    .best-brands > .h {
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      margin: 2.75% 0 1.5%;
      }
    .best-brands > .items {
      display: flex;
      flex-wrap: wrap;
      }
      .best-brands .item {
        width: 20%;
        padding: 1.5% 2.5%;
        float: left;
        }
        .best-brands .item img {
          position: relative;
          width: 100%;
          transform: translateY(-50%);
          top: 50%;
          }
  .sales-subscribe {
    padding: 4% 26% 4.1%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    }
    .sales-subscribe .icon {
      float: left;
      width: 96px;
      margin-right: 3%;
      }
      .sales-subscribe .icon > img {
        width: 100%;
        border-radius: 4px;
        }
    .sales-subscribe > .h {
      font-size: 30px;
      text-transform: uppercase;
      line-height: 1;
      margin-top: -2px;
      }
    .sales-subscribe > .sub {
      font-size: 15px;
      margin-top: 4px;
      margin-bottom: 10px;
      letter-spacing: -.2px;
      }
    .sales-subscribe form {
      position: relative;
      }
      .sales-subscribe form > input {
        width: 65%;
        outline: none;
        padding: 6px 12px 5px;
        border: 1px solid #ccc;
        }
      .sales-subscribe form > button {
        position: absolute;
        width: 48px;
        height: 32px;
        border: 0;
        background: url(<%= asset_path "icon-envelope.png" %>) no-repeat;
        background-size: cover;
        outline: none;
        top: 0;
        margin-left: 10px;
        border-radius: 2px;
        }
  .seotxt {
    font-size: 13px;
    color: #b0b0b0;
    padding: 0 10%;
    margin: 69px 0;
    }
</style>