<div class="products clearfix">

  <% @products.each do |product| %>
    <div class="product">
      <div class="image">
        <% if product.image %>
          <%= link_to image_tag(product.image, alt: product.title), product %>
        <% else %>
          <%= link_to image_tag("http://placehold.it/200x254/fff/777?text=нет+фото"), product %>
        <% end %>
      </div>
      <div class="brand">
        <% if product.brand %>
          <%= link_to product.brand.title, product.brand %>
        <% else %>
          &nbsp;
        <% end %>
      </div>
      <div class="title" title="<%= product.title %>"><%= product.title %></div>
      <div class="price">
        <%= number_to_currency product.price, precision: 0 %>
        <% if product.old_price %><s><%= number_to_currency product.old_price, precision: 0 %></s><% end %>
      </div>
    </div>
  <% end %>

</div>


<style>

  .products {}
    .product {
      float: left;
      width: 18.4%;
      margin-right: 2%;
      margin-bottom: 2%;
      border: 1px dotted #dfdfdf;
      padding: .75%;
      font-size: 0.929em;
      }
    .product:nth-child(5n) {
      margin-right: 0;
      }
      .product > .image {
        margin-bottom: 8px;
        border-bottom: 1px dotted #dfdfdf;
        text-align: center;
        height: 248px;
        overflow: hidden;
        }
        .product > .image img {
          width: 100%;
          max-width: 100%;
          }
      .product > .brand {
        font-size: .9em;
        }
      .product > .title {
        overflow: hidden;
        white-space: nowrap;
        }
      .product > .price {
        font-weight: bold;
        color: #ad1d22;
        }
        .product > .price > s {
          font-weight: normal;
          font-size: 0.857em;
          color: #666;
          }
  .sub-categories {
    margin-bottom: 12px;
    }
    .sub-categories a {
      white-space: nowrap;
      }

</style>