<%= render "catalog/breadcrumbs", to: @category %>

<h1><%= @category.title %></h1>

<% if @category.children.exists? %>
  <nav class="sub-categories">
    <% @category.children.each do |category| %>
      <%= link_to category.title, category %>&nbsp;&nbsp;•&nbsp;
    <% end if @category %>
  </nav>
<% end %>

<%= render "catalog/products-list" %>

<%= paginate @products %>