<%= render "catalog/breadcrumbs", to: @product.category %>

<div class="product">

  <div class="row">
    <div class="col-sm-4">
      <% if @product.provider_images %>
        <div class="images">
          <% JSON.parse(@product.provider_images).each do |image| %>
            <%= image_tag("https://app.subtotal.ru" + image, alt: @product.title) %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-8">
      <h1><%= @product.title %></h1>
      <% if @product.brand.try(:image).try(:exists?) %>
        <div class="brand">
          <%= link_to image_tag(@product.brand.image(:medium)), @product.brand %>
        </div>
      <% end %>
      <div class="price">
        <%= number_to_currency @product.price, precision: 0 %>
        <% if @product.old_price %><s><%= number_to_currency @product.old_price, precision: 0 %></s><% end %>
      </div>
      <% if @product.properties %>
        <div class="properties">
          <% JSON.parse(@product.properties).each do |prop| %>
            <div class="property"><%= "#{prop.keys[0]}: #{prop.values[0]}" %></div>
          <% end %>
        </div>
      <% end %>
      <div class="tocart">
        <%= link_to cart_add_path(@product.id) do %>
          <button>В корзину</button>
        <% end %>
      </div>
      <div class="description">
        <%= raw @product.description %>
      </div>
    </div>
  </div>

</div>


<style>

  .product .images {
    margin-top: 12px;
    }
    .product .images img {
      width: 100%
      }
  .product .price {
    font-size: 24px;
    margin: 10px 0;
    font-weight: bold;
    color: #ad1d22;
    }
    .product .price > s {
      font-weight: normal;
      font-size: 16px;
      color: #666;
      }
  .product .properties {
    font-size: 15px;
    margin-bottom: 16px;
    }
    .product .properties > .property {
      }
  .product .tocart {
    margin-bottom: 22px;
    }
    .product .tocart button {
      background: #b10000;
      color: #fff;
      border: 0;
      padding: 12px 29px;
      outline: none;
      }
</style>
