<nav class="breadcrumbs">
  <% @category.ancestors.reverse.each do |category| %>
    <%= link_to category.title, category %> <span class="arr">&rarr;</span>
  <% end if @category %>
</nav>


<h1><%= @title %></h1>

<nav class="sub-categories">
  <% @category.children.each do |category| %>
    <%= link_to category.title, category %>&nbsp;&nbsp;•&nbsp;
  <% end if @category %>
</nav>

<div class="products clearfix">

  <% @products.each do |product| %>
    <div class="product">
      <div class="image">
        <%= link_to(image_tag(product.image(:medium)), product) %>
      </div>
      <div class="brand"><%= link_to product.brand.title, product.brand %></div>
      <div class="title"><%= product.title %></div>
      <div class="price">
        <%= number_to_currency product.price, precision: 0 %>
        <% if product.old_price %><s><%= number_to_currency product.old_price, precision: 0 %></s><% end %>
      </div>
    </div>
  <% end %>

</div>


<style>

  .products {}
    .product {
      float: left;
      width: 18.4%;
      margin-right: 2%;
      margin-bottom: 2%;
      border: 1px dotted #dfdfdf;
      padding: .75%;
      font-size: 0.929em;
      }
    .product:nth-child(5n) {
      margin-right: 0;
      }
      .product > .image {
        margin-bottom: 8px;
        border-bottom: 1px dotted #dfdfdf;
        text-align: center;
        }
        .product > .image img {
          /*width: 100%;*/
          /*max-width: 100%;*/
          }
      .product > .brand {
        font-size: 0.9em;
        }
      .product > .title {
        font-weight: 700;
        overflow: hidden;
        white-space: nowrap;
        text-transform: capitalize;
        }
      .product > .price {
        font-weight: bold;
        color: #ad1d22;
        }
        .product > .price > s {
          font-weight: normal;
          font-size: 0.857em;
          color: #666;
          }
  .breadcrumbs {}
    .breadcrumbs span:last-child {
      display: none;
      }
  .sub-categories {
    margin-bottom: 12px;
    }
    .sub-categories a {
      white-space: nowrap;
      }

</style>