<p><%= link_to "Смотреть заказ в админке", 'http://saleshop.online' + rails_admin.show_path(model_name: 'order', id: @order.id).to_s + '/more' %></p>

<table>
  <tr>
    <td width="20%">Имя</td>
    <td><%= @order.name %></td>
  </tr>
  <tr>
    <td>Номер телефона</td>
    <td><%= @order.tel %></td>
  </tr>
  <tr>
    <td>Адрес доставки</td>
    <td><%= @order.delivery_address %></td>
  </tr>
  <tr>
    <td>Комментарий</td>
    <td><%= @order.comment %></td>
  </tr>
  <tr>
    <td>Создан</td>
    <td><%= @order.created_at.strftime("%d.%m.%Y, %H:%M:%S") %></td>
  </tr>
</table>