<!DOCTYPE html>
<html>
  <head>
    <title>saleshop.online</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
    <%= render 'application/favicon' %>
  </head>

  <body>

    <div class="container">

      <header id="header" class="clearfix">

        <div class="logo">
          <%= link_to image_tag("logo.png", alt: "saleshop.online"), "/" %>
        </div>

        <ul class="features">
          <li>
            <a href="<%= page_path("kontakty") %>" class="mag">
              <div class="icon"></div>
              <div class="title">Магазин в Москве</div>
            </a>
          </li>
          <li>
            <a href="<%= page_path("dostavka-i-oplata") %>" class="delivery">
              <div class="icon"></div>
              <div class="title">Бесплатная доставка</div>
            </a>
          </li>
          <li>
            <a href="<%= sale_path %>" class="sales">
              <div class="icon"></div>
              <div class="title">Скидки до 70%</div>
            </a>
          </li>
        </ul>

        <div class="right clearfix">
          <form action="" id="search-main">
            <input type="text" name="query" placeholder="Поиск">
            <button type="submit"></button>
          </form>
          <%= link_to cart_path, class: "cart" do %>
            <% if @shopping_cart && @shopping_cart.total_unique_items > 0 %>
              <span class="count"><%= @shopping_cart.total_unique_items %></span>
            <% end %>
            Корзина
          <% end %>
        </div>

      </header>

      
      <nav id="mainmenu">
        <ul>
          <li class="show-pop">
            <%= link_to "Женская одежда", category_path("zhenskaya-odezhda") %>
            <div class="pop">
              <% Category.friendly.find("zhenskaya-odezhda").children.each do |children| %>
                <%= link_to children.title, children %>
              <% end %>
            </div>
          </li>
          <li class="show-pop">
            <%= link_to "Мужская одежда", category_path("muzhskaya-odezhda") %>
            <div class="pop">
              <% Category.friendly.find("muzhskaya-odezhda").children.each do |children| %>
                <%= link_to children.title, children %>
              <% end %>
            </div>
          </li>
          <li><%= link_to "Сумки", category_path("sumki") %></li>
          <li><%= link_to "Аксессуары", category_path("aksessuary") %></li>
          <li><%= link_to "Доставка и оплата", page_path("dostavka-i-oplata") %></li>
          <li><%= link_to "Контакты", page_path("kontakty") %></li>
        </ul>
      </nav>

      <% @brands_by_fletter = Brand.all.order('title ASC').group_by{|d| d.title[0]} %>
      <nav id="brandmenu">
        <ul>
          <li><%= link_to "Все бренды", brands_path %></li>
          <% ("A".."Z").each do |letter| %>
            <li>
              <%= link_to letter, "#" %>
              <% if @brands_by_fletter[letter] %>
                <div class="sub">
                  <% @brands_by_fletter[letter].each do |brand| %>
                    <%= link_to brand.title, brand %>
                  <% end %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>


      <%= yield %>


      <footer id="footer" class="clearfix">
        <div class="pull-left">+7 (495) 104-81-46</div>
        <div class="pull-right">&copy; 2017 made.in</div>
      </footer>

    </div> <!-- /.container -->


    <%= render "application/yandex-metrika" if Rails.env.production? %> 

  </body>
</html>
